
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f7f4ef;
    color: #333;
}

header {
    background-color: #3b2e2e;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 26px;
    letter-spacing: 1px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: #e8c39e;
}

.hero {
    padding: 90px 20px;
    text-align: center;
    background: url("https://images.unsplash.com/photo-1519681393784-d120267933ba") center/cover no-repeat;
    color:white(63, 2, 2);
}

.hero h2 {
    font-size: 45px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e8c39e;
    color: #3b2e2e;
    font-size: 16px;
    transition: 0.3s;
}

.hero button:hover {
    background-color: #d1a87d;
}

.book-grid {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
}

.book-card {
    background: lightpink;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.book-card:hover {
    transform: translateY(-5px);
}

.book-card img {
    width: 100%;
    border-radius: 8px;
}

.book-card h3 {
    margin: 10px 0;
}

.price {
    margin: 8px 0;
    font-weight: bold;
}

.category-section {
    padding: 40px;
}

.category-section h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 32px;
}

.category-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.category {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.category:hover {
    background: #e8c39e;
    color: #3b2e2e;
}

.about-section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.contact {
    margin-top: 40px;
    background: rgb(217, 239, 217);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

footer {
    background-color: #3b2e2e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
